/**********************************************************************/
/********************************classes*******************************/
/**********************************************************************/

/***floating***/
.fr() {
	float: right;
}
.fn() {
	float: none;
}
.cl {
	clear: both;
}
/***display***/
.dn() {
	display: none;
}
.db() {
	display: block;
}
.dib() {
	display: inline-block;
}
/***align***/
.mc() {
	margin-left: auto;
	margin-right: auto;
}
.vt {
	vertical-align: top;
}
.vm {
	vertical-align: middle;
}
.vb {
	vertical-align: bottom;
}
.tal() {
	text-align: left;
}
.tac() {
	text-align: center;
}
.tar() {
	text-align: right;
}
/***font***/
.fl() {
	font-weight: 300;
}
.fsb() {
	font-weight: 600;
}
.fb() {
	font-weight: bold;
}
.fi() {
	font-style: italic;
}
/***colors***/
.bg-white() {
	background-color: white;
}
.c-white() {
	color: white;
}
.c-black() {
	color: black;
}
.c-black-i() {
	color: black !important;
}

/**************/
/***elements***/
/**************/

/***button***/
.button {
	padding: 8px 30px;
	background-color:  #1d9950;
	border: none;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	.dib;
	.tac;
	.c-white;
	&:hover {
		background-color: @red_hover;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

/***select-emulation***/
.select-emul {
	.dib;
	input {
		background: url('../img/icon-arrow-white-down.png') no-repeat right 10px center;
		background-color: transparent;
		border: 1px solid #969493;
	}
	&.se-active {
		input {
			background: url('../img/icon-arrow-black-up.png') no-repeat right 10px center;
			background-color: rgba(255, 255, 255, 0.6) !important;
			.c-black-i;
		}
	}
	.se-list {
		position: absolute;
		z-index: 50;
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		background-color: white !important;
		font-size: 15px;
		.dn;
		.c-black;

		li {
			padding: 10px 0px 8px 15px;
			cursor: pointer;
			&:hover {
				background-color: @red_hover;
				.c-white;
			}
		}
	}
	&.se-gray {
		input {
			background: url('../img/icon-arrow-gray-down.png') no-repeat right 10px center;
		}
		&.se-active {
			input {
				background: url('../img/icon-arrow-gray-up.png') no-repeat right 10px center;
			}
		}
	}
	&.se-mini {
		input {
			padding: 2px 7px;
		}
		li {
			padding: 3px 0px 5px 15px;
		}
		.se-list {
			font-size: 12px;
		}
	}
}

/***checkbox-emulation***/
.checkbox-emul {
  min-height: 12px;
  padding-left: 17px;
  background: url('../img/icon-checkbox.png') no-repeat left center;
  font-size: 11px;
  color: #7a7a7a;
  cursor: pointer;
  .fi;
  .fl;
  .dib;
  &.checked {
	background-image: url('../img/icon-checkbox-checked.png');
  }
}

/***radio-button-emulation***/
.radio-emul {
  min-height: 12px;
  padding-left: 17px;
  background: data-uri('../img/icon-radio.png') no-repeat left center;
  font-size: 11px;
  color: #7a7a7a;
  cursor: pointer;
  .fi;
  .fl;
  .dib;
  &.checked {
	background-image: data-uri('../img/icon-radio-checked.png');
  }
  input {
	.dn();
  }
}
