/**********************************************************************/
/****************************funcs-and-vars****************************/
/**********************************************************************/
@max_desktop: ~"only screen and (max-width: 940px)";
@desktop: ~"only screen and (min-width: 641px)";
@tablet: ~"only screen and (max-width: 640px)";
@mobile: ~"only screen and (max-width: 320px)";

@menu_mobile: ~"only screen and (max-width: 450px)";
@menu_tablet: ~"only screen and (max-width: 900px)";
@sof_tablet: ~"only screen and (max-width: 850px)";
@sofb_tablet: ~"only screen and (max-width: 860px)";
@mpc_mobile: ~"only screen and (max-width: 400px)";
@mpt_mobile: ~"only screen and (max-width: 550px)";
@mpt_tablet: ~"only screen and (max-width: 730px)";
@tabs_mobile: ~"only screen and (max-width: 700px)";
@op_mobile: ~"only screen and (max-width: 500px)";

@red_hover: #e22729;
@green: #1d9950;
@green_test: #547a63;
@dark_gray: #474747;
@gray_border: #eaeaea;

.placeholder(@rules) {
    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}
.block-shadow() {
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
.responsive-img() {
	width: 100%;
	height: auto;

}
.article-in-list() {
	header {
		position: relative;
	}
	img {
		.responsive-img;
	}
	time {
		margin-top: 10px;
		margin-left: 20px;
		font-size: 10px;
		color: #777;
		.fb;
		.db;
	}
	h3 {
		width: 70%;
		margin-top: 10px;
		margin-left: 20px;
		margin-bottom: 0;
		padding: 0px;
		a {
			text-decoration: none;
			font-size: 18px;
			.fb;
			.c-black;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	p {
		width: 80%;
		margin-top: 10px;
		margin-left: 20px;
		font-size: 16px;
	}
	footer {
		margin-top: 20px;
		padding: 0px 20px;
	}
}
.black-top-block-bg() {
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

/**********************************************************************/
/*********************************main*********************************/
/**********************************************************************/
html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}
body {
	min-width: 320px;
	background-color: #c0bebe;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	.c-black;
}
label {
	cursor: pointer;
}
img, iframe {
	border: none;
}

.page-block {
	@media @desktop {
		max-width: 940px;
	}
	@media @tablet {
		max-width: 620px;
	}
	@media @mobile {
		max-width: 320px;
	}
	margin: 0px auto;
}
.margin-fix {
	margin-top: 91px;
}
.margin-fixed {
	margin-top: 47px;
}

@import "classes.less";

/**********************************************************************/
/********************************header********************************/
/**********************************************************************/
.main-page .page-header {
	background-color: rgba(255, 255, 255, 0.5);
}
.page-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 47px;
	font-size: 11px;
	.bg-white;
	.block-shadow;
	.fb;

	a {
		text-decoration: none;
	}
	.ph-logo {
		margin-top: 12px;
		.dib;
		.vm;
		@media @desktop {
			padding-left: 15px;
		}
		@media @tablet {
			padding-left: 15px;
		}
	}
	.header-menu {
		margin-top: -5px;
		margin-bottom: -3px;
		font-size: 0;
		.fr;
		a {
			height: 33px;
			padding-top: 17px;
			padding-left: 16px;
			padding-right: 16px;
			outline: none;
			font-size: 12px;
			.dib;
			.c-black;
			img {
				margin-right: 5px;
			}
			&:last-child {
				height: 34px;
				img {
					position: relative;
					top: 4px;
				}
			}
			&.hm-mi-active {
				background-color: @gray_border;
			}
			&.hm-mi-always-active {
				background-color: @gray_border;
			}
			&.hm-search-link.hm-mi-active {
				img {
					transform: rotateZ(180deg);
				}
			}
			&.hm-user-logged {
				min-width: 98px;
				@media @mpt_mobile {
					width: auto;
					min-width: auto;
				}
			}
			.hm-user-name {
				border-bottom: 1px dotted black;
			}
			@media @mpt_mobile {
				padding-left: 15px;
				padding-right: 10px;
				span {
					.dn;
				}
			}
		}
	}
	/*****************/
	/***login-block***/
	/*****************/
	.h-user-menu.hum-login {
		position: relative;
		z-index: 999;
		.dn;
		.fr;
		width: 110px;
		padding: 15px 20px;
		background-color: @gray_border;
		box-shadow:
			3px 7px 7px rgba(0, 0, 0, 0.4),
			0px 7px 5px -7px rgba(0, 0, 0, 0.4);
		&.hum-active {
			.db;
		}

		.hum-row:not(:first-child) {
			margin-top: 5px;
		}
		input[placeholder] {
			width: 90px;
			padding: 3px 10px;
			background: white;
			border: none;
			font-size: 10px;
			.placeholder({
				font-size: 10px;
				.fi;
				.c-black;
			});
		}
		.button {
			padding: 2px 10px;
			font-size: 9px;
			.fr;
		}
		.hum-login-with-soc {
			margin-top: 20px;
			font-size: 10px;
			color: #787676;
			.fl;
			//.dn;
			a {
				opacity: 0.8;
				width: 15px;
				height: 15px;
				background-repeat: no-repeat;
				.dib;
				&:not(:last-child) {
					margin-right: 5px;
				}
				&.lws-vk {
					background: url('../img/icon-soc-vk.png');
				}
				&.lws-fb {
					background: url('../img/icon-soc-fb.png');
				}
				&.lws-tw {
					background: url('../img/icon-soc-tw.png');
				}
				&.lws-y {
					background: url('../img/icon-soc-y.png');
				}
				&.lws-gp {
					background: url('../img/icon-soc-gp.png');
				}
				@media @menu_mobile {
					width: 25px;
					height: 25px;
					&.lws-vk {
						background: url('../img/icon-soc-vk-big.png');
					}
					&.lws-fb {
						background: url('../img/icon-soc-fb-big.png');
					}
					&.lws-tw {
						background: url('../img/icon-soc-tw-big.png');
					}
					&.lws-y {
						background: url('../img/icon-soc-y-big.png');
					}
					&.lws-gp {
						background: url('../img/icon-soc-gp-big.png');
					}
				}
			}
		}
		@media @menu_mobile {
			float: none;
			width: 100%;
			box-sizing: border-box;
			box-shadow: none;
			input[placeholder] {
				width: 100%;
				margin-bottom: 10px;
				padding: 5px 10px;
				box-sizing: border-box;
			}
			.button {
				float: none;
				padding: 5px 10px;
			}
		}
	}
	/**********************/
	/***logged-user-menu***/
	/**********************/
	.h-user-menu.hum-logged {
		position: relative;
		z-index: 999;
		min-width: 130px;
		margin-right: 62px;
		background-color: @gray_border;
		.fr;
		.dn;

		ul {
			margin: 15px 0 15px;
			padding: 0;
			list-style-type: none;
			li {
				padding: 5px 10px;
				font-size: 11px;
				a {
					color: #504f4f;
				}
				&:hover {
					background-color: @red_hover;
					a {
						.c-white;
					}
				}
			}
		}
		&.hum-active {
			.db;
		}
		@media @mpt_mobile {
			width: 100%;
			margin: 0;
			ul {
				margin: 0;
			}
			li {
				padding: 12px 10px !important;
			}
			a {
				.db;
			}
		}
	}
	/*********************/
	/***header-nav-menu***/
	/*********************/
	.h-top-menu {
		position: relative;
		z-index: 999;
		background-color: @gray_border;
		.dn;
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
		.htm-test-hint {
			padding: 15px 100px 15px 120px;
			background: url('../img/icon-test-top.png') no-repeat left 20px top @green_test;
			text-transform: uppercase;
			font-size: 12px;
			.dib;
			.vm;
			.fb;
			.c-white;
			@media @menu_tablet {
				width: 100%;
				padding: 15px 0px 15px 50px;
				.db;
				.tac;
			}
			@media @menu_mobile {
				span {
					width: 120px;
					.dib;
				}
			}
		}
		nav {
			.fr;
			font-size: 0;
			a {
				height: 25px;
				padding-top: 15px;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 13px;
				.dib;
				.fl;
				.c-black;
				&:hover,
				&.htm-current {
					background-color: @red_hover;
					.c-white;
				}
				@media @desktop {
					padding-bottom: 7px;
				}
				@media @menu_tablet {
					height: 29px;
					padding-top: 11px;
					padding-bottom: 0;
				}
			  	&.hm-user-login {
				  .dn();
				  border-bottom: 1px solid #cecece;
				  @media @mpc_mobile {
					.db();
					background: url('../img/icon-arrow-gray-down.png') no-repeat 95% center;
					font-weight: 800;
					color: #434242;
					.vm {
					  margin-right: 6px;
					}
				  }
				}
			}
			@media @menu_tablet {
				float: none;
				display: block;
				background-color: @gray_border;
				text-align: right;
			}
			@media @menu_mobile {
				float: none;
				text-align: left;
				a {
					.db;
				}
			}
		}
		&.hum-active {
			.db;
		}

		@media @menu_tablet {
			.page-block {
				max-width: 900px;
			}
		}
	}
	/*************************/
	/***search-objects-form***/
	/*************************/
	.hum-search-objects {
		position: relative;
		z-index: 999;
		padding: 10px 0px;
		background-color: @gray_border;
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
		font-size: 11px;
		font-weight: normal;
		.dn;
		&.hum-active {
			.db;
		}
		.hsp-field {
			margin-right: 20px;
			.dib;
			.vm;
		}
		.hspf-hint {
			margin-bottom: 5px;
			padding-left: 5px;
			color: #676767;
		}
		input[type="text"] {
			width: 100%;
			padding: 2px 7px;
			box-sizing: border-box;
			background-color: transparent;
			border: 1px solid #969493;
			color: #676767;
			.placeholder({
				font-size: 11px;
			});
		}
		#sof-object-top {
			width: 10%;
		}
		#sof-type-top {
			width: 38.7%;
		}
		#sof-region-top {
			width: 15%;
		}
		#sof-name-top {
			width: 20%;
			margin-left: 5px;
		}
		.button {
			width: 35px;
			height: 22px;
			padding: 0px;
			background: url('../img/icon-submit-search-mini.png') no-repeat center center @green;
			.vb;
			&:hover {
				background-color: @red_hover;
			}
		}
		.hso-responsive-helper-940 {
			@media @desktop {
				.dn;
			}
			@media @max_desktop {
				margin-top: 20px;
				.db;
			}
			@media @tablet {
				margin-top: 10px;
			}
		}
		.hso-responsive-helper-640 {
			@media @desktop {
				.dn;
			}
			@media @tablet {
				margin-top: 10px;
				.db;
			}
		}
		@media @max_desktop {
			padding: 20px;
			#sof-object-top {
				width: 15%;
			}
			#sof-type-top {
				width: 40%;
			}
			#sof-region-top {
				width: 20%;
			}
			#sof-name-top {
				width: 27%;
			}
		}
		@media @tablet {
			.hsp-field {
				width: 100% !important;
			}
			.select-emul {
				width: 100% !important;
			}
			#sof-name-top {
				margin: 5px 0 0 0;
			}
			.button {
				margin-left: 0;
			}
		}
	}
}

/**********************************************************************/
/********************************footer********************************/
/**********************************************************************/
.go-to-top {
	margin-top: 90px;
	.tac;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.page-footer {
	margin-top: 90px;
	padding: 20px 0px 15px;
	.bg-white;
	.pf-logo {
		.tac;
	}
}

/**********************************************************************/
/*******************************main-page******************************/
/**********************************************************************/
.mp-top-block-bg {
	.black-top-block-bg;
	padding: 65px 0 50px;
	background-image: url('../img/bg-main-page.jpg');
}
.mp-top-block {
	padding: 70px 50px 60px 60px;
	background-color: rgba(14, 7, 6, 0.75);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
	@media @mpt_tablet {
		padding: 30px 30px 40px;
	}
	@media @mobile {
		padding: 50px 20px 60px;
	}
}
.mptb-info {
	width: 40%;
	padding-right: 8%;
	.dib;
	.vt;
	@media @mpt_tablet {
		width: 100%;
		padding-right: 0;
		.db;
	}
}
.mp-title {
	margin: 0;
	padding: 0;
	line-height: 40px;
	font-size: 38px;
	.fb;
	.c-white;
}
.mp-descr {
	margin-top: 20px;
	font-size: 15px;
	.c-white;
}
.mp-d-more {
	margin-top: 15px;
	a {
		text-decoration: none;
		font-size: 14px;
		color: #a0cdb0;
		.fi;
	}
	span {
		text-decoration: underline;
	}
	img {
		margin-left: 5px;
		.vm;
	}
}
/*************************/
/***search-objects-form***/
/*************************/
.mp-search-objects-form {
	width: 51.5%;
	padding-left: 8%;
	box-sizing: border-box;
	border-left: 1px solid #534f4f;
	.dib;
	.vt;
	@media @mpt_tablet {
		width: 100%;
		margin-top: 30px;
		padding-top: 20px;
		padding-left: 0;
		border-left: none;
		border-top: 1px solid #534f4f;
		.db;
	}
	@media @mobile {
		margin-top: 50px;
		padding-top: 40px;
	}
}
.sof-field {
	width: 100%;
	&:not(:first-child) {
		margin-top: 20px;
	}
	.select-emul {
		width: 100%;
	}
	label {
		.db;
		padding-left: 5px;
		text-transform: uppercase;
		font-size: 13px;
		.c-white;
	}
	input[type="text"] {
		width: inherit;
		margin-top: 5px;
		padding: 5px 10px;
		box-sizing: border-box;
		background-color: transparent;
		border: 1px solid #969493;
		text-transform: uppercase;
		font-size: 13px;
		.c-white;
		.placeholder({
			color: #888;
		});
		&:hover {
			border: 1px solid white;
			cursor: pointer;
			.placeholder({
				.c-white;
			});
		}
	}
	input[type="submit"] {
		height: 30px;
		padding: 0px 30px;
		background: url('../img/icon-submit-search.png') no-repeat center center @green;
		&:hover {
			background-color: @red_hover;
		}
	}
	&.sof-submit {
		margin-top: 30px;
	}
}
/**********************/
/***go-to-test-block***/
/**********************/
.mp-test {
	margin-top: 20px;
	padding: 50px 70px 60px;
	border: 10px solid @green;
	.bg-white;
	hr {
		height: 1px;
		margin-top: 40px;
		border: none;
		background-color: #939393;
		color: #939393;
	}
	@media @tablet {
		padding: 40px 20px 50px;
	}
	@media @menu_mobile {
		padding: 35px 10px 50px;
		hr {
			width: 50%;
		}
	}
}
.mpt-title {
	font-size: 31px;
	.tac;
	.fb;
}
.mpt-descr {
	margin: 15px 0 0;
	padding: 0;
	font-size: 18px;
	.tac;
}
.mpt-cols {
	margin-top: 40px;
	font-size: 0;
}
.mpt-col {
	width: 50%;
	font-size: 12px;
	.dib;
	.vt;
	@media @tablet {
		width: 100%;
		.db;
	}
	img {
		max-width: 93px;
		max-height: 93px;
		margin-right: 15px;
		.dib;
		.vt;
		@media @menu_tablet {
			max-width: 280px;
			max-height: 280px;
			width: 90%;
			height: auto;
		}
		@media @tablet {
			width: 100%;
		}
	}
	div {
		width: 70%;
		.dib;
		.vt;
		@media @menu_tablet {
			margin-top: 15px;
			.db;
		}
		@media @tablet {
			width: 100%;
		}
	}
	span {
		margin-bottom: 21px;
		font-size: 16px;
		.db;
		.fb;
		@media @menu_tablet {
			margin-bottom: 15px;
		}
	}
	.button {
		padding: 5px 10px;
		font-size: 13px;
	}
}
.mpt-right-col {
	@media @menu_tablet {
		div {
			.dib;
		}
	}
	@media @tablet {
		margin-top: 40px;
	}
}

/********************************/
/**********text-content**********/
/********************************/
.mp-text-content {
	margin-top: 20px;
	font-size: 0px;
	section {
		font-size: 12px;
		.bg-white;
		.block-shadow;
	}
}
.mptc-col-left {
	width: 32%;
	margin-right: 2%;
	.dib;
	.vt;
	@media @tablet {
		width: 48%;
	}
	@media @mpc_mobile {
		width: 100%;
		margin: 0;
		.db;
	}
}
.mptc-col-right {
	width: 66%;
	font-size: 12px;
	.dib;
	.vt;
	@media @tablet {
		width: 48%;
	}
	@media @mpc_mobile {
		width: 100%;
		margin-top: 20px;
		.db;
	}
}
.mptc-col-footer() {
	padding: 15px 0px;
	background-color: @green;
	.tac;
	a {
		text-decoration: none;
		.fb;
		.c-white;
		&:hover {
			text-decoration: underline;
		}
	}
}

/*****************/
/***objects-col***/
/*****************/
.mptc-objects {
	font-size: 12px;
	.block-shadow;
	header {
		padding: 50px 15px;
		background-color: @green;
		.mptcoh {
			width: 165px;
		}
		div {
			line-height: 31px;
			font-size: 31px;
			.fb;
			.c-white;
		}
		a {
			margin-top: 15px;
			line-height: 130%;
			font-size: 17px;
			.dib;
			.fl;
			.c-white;
		}
	}
	footer {
		.mptc-col-footer;
	}
}
.mptco-list {
	.bg-white;
}
.mptco-object {
	padding: 20px;
	&:not(:last-child) {
		border-bottom: 1px solid #dddada;
	}
}
.mptcoo-photo {
	margin-right: 10px;
	.dib;
	.vt;
}
.mptcoo-rating {
	margin-top: 5px;
}
.mptcoor-value {
	padding: 2px 5px;
	background-color: @green;
	font-size: 9px;
	.dib;
	.vm;
	.c-white;
}
.mptcoor-hint {
	font-size: 9px;
	color: #747474;
	.dib;
	.vm;
}
.mptcoo-info {
	width: 60%;
	.dib;
	.vt;
	@media only screen and (max-width: 570px) {
		margin-top: 20px;
		.db;
	}
}
.mptcoo-name {
	margin-top: -5px;
	line-height: 85%;
	a {
		line-height: 110%;
		text-decoration: none;
		font-size: 17px;
		.fsb;
		.c-black;
		&:hover {
			text-decoration: underline;
		}
	}
}
.mptcoo-type {
	margin-top: 5px;
	font-size: 10px;
}
.mptcoo-contacts {
	margin-top: 10px;
	font-size: 10px;
	color: #747474;
}
.mptcoo-actions {
	margin-top: 10px;
	font-size: 10px;
	span:last-child {
		.fb;
	}
}

/**************************/
/***search-content-block***/
/**************************/
.mptc-search-block {
	padding: 10px 20px 20px;
	.bg-white;
	.block-shadow;
	label {
		margin-bottom: 5px;
		font-size: 11px;
		.db;
	}
}
.mptcsb-keyword {
	width: 59%;
	margin-right: 5%;
	.dib;
	.vb;
	input {
		width: 100%;
		padding: 3px 5px 4px;
		background: url('../img/icon-search-gray.png') no-repeat right 5px center white;
		border: 1px solid #9a9a9a;
		font-size: 11px;
		.placeholder({
			color: #676767;
			.fi;
		});
	}
	@media only screen and (max-width: 910px) {
		.vt;
	}
	@media @tablet {
		width: 96%;
		margin-right: 0;
		.db;
		.vb;
	}
}
.mptcsb-right {
	width: 35%;
	.dib;
	@media @tablet {
		width: 96%;
		margin-top: 10px;
		.db;
	}
}
.mptcsb-show-in {
	width: 50%;
	margin-right: 15%;
	.dib;
	.vb;
	.select-emul {
		width: 100px;
	}
	input {
		width: inherit;
	}
}
.mptcsb-submit {
	.dib;
	.vb;
	input {
		padding: 5px 18% 2px;
		font-size: 11px;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		input {
			padding: 5px 18% 4px;
		}
	}
	@media only screen and (max-width: 910px) {
		margin-top: 10px;
	}
}

/*****************/
/***news-column***/
/*****************/
.mptc-news-cols {
	margin-top: 20px;
	font-size: 0;
}
.mptc-news-col {
	width: 48.3%;
	font-size: 12px;
	.dib;
	.vt;
	&:last-child {
		margin-left: 3%;
	}
	@media @tablet {
		width: 100%;
		&:last-child {
			.dn;
		}
	}
	@media @mobile {
		width: 100%;
		.db;
		&:last-child {
			margin-top: 20px;
			margin-left: 0;
			.db;
		}
	}
}
.mptc-section-header {
	padding: 30px 20px 20px;
	h2 {
		width: 60%;
		margin: 0 0 10px;
		font-size: 23px;
		.fb;
	}
	a {
		padding: 5px 10px;
		font-size: 12px;
	}
}
.mptc-section-footer {
	.mptc-col-footer;
}
.mptcn-video-duration {
	position: relative;
	z-index: 99;
	margin-top: -30px;
	margin-right: 10px;
	padding: 1px 3px;
	background-color: black;
	font-size: 10px;
	.fr;
	.fb;
	.c-white;
	.dib;
}
.mptc-news-list {
	article {
		.article-in-list;
	}
}
.mptcn-tags {
	a {
		padding: 1px 5px;
		background-color: #7b7b7b;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 9px;
		.dib;
		.c-white;
		&:not(:last-child) {
			margin-right: 5px;
		}
		&:hover {
			background-color: @red_hover;
		}
	}
}
.mptcn-meta {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-top: 1px solid #9e9e9e;
	font-size: 10px;
	color: #a6a6a6;
	&>div {
		margin-right: 3%;
		padding-left: 17px;
		.dib;
		.vt;
	}
}
.mptcnm-comments-count {
	padding-top: 2px;
	padding-bottom: 4px;
	background: url('../img/icon-comments-count.png') no-repeat left center;
}
.mptcnm-likes-count {
	padding-top: 2px;
	background: url('../img/icon-likes-count.png') no-repeat left top;
}
.mptcnm-dislikes-count {
	padding-bottom: 9px;
	background: url('../img/icon-dislikes-count.png') no-repeat left center;
}

.mptc-sport-posts {
	margin-top: 20px;
}
.mptc-sport-news {
	@media @tablet {
		margin-top: 20px;
	}
}

/**********************************************************************/
/*******************************news-page******************************/
/**********************************************************************/
.np-main-news-bg {
	.black-top-block-bg;
	background-image: url('../img/tmp-bg-news.jpg');
}
.np-main-news {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
	.c-white;
	hr {
		width: 30%;
		height: 1px;
		margin-top: 33px;
		border: none;
		background-color: rgba(255, 255, 255, 0.4);
		color: rgba(255, 255, 255, 0.4);
	}
}
.npmn-meta {
	time {
		margin-right: 10px;
		font-size: 10px;
		.fb;
	}
	a {
		padding: 3px 8px;
		font-size: 9px;
		text-transform: uppercase;
		text-decoration: none;
		.c-white;
	}
}
.npmn-tizer {
	width: 90%;
	.mc;
	.tac;
	h2 {
		margin-top: 40px;
		margin-bottom: 0px;
		padding: 0;
		line-height: 40px;
		font-size: 31px;
		.fb;
		a {
			text-decoration: none;
			line-height: 40px;
			font-size: 31px;
			.fb;
			.c-white;
			&:hover {
				text-decoration: underline;
			}
			@media @mobile {
				line-height: 30px;
				font-size: 24px;
			}
		}
	}
	p {
		margin: 33px 0 0;
		padding: 0;
		line-height: 20px;
		font-size: 16px;
		@media @mobile {
			line-height: 20px;
			font-size: 14px;
		}
	}
}
.npmn-soc {
	margin-top: 20px;
	.tac;
	div {
		width: 21px;
		padding-top: 25px;
		font-size: 10px;
		cursor: pointer;
		.dib;
		.vt;
		.fb;
		&:first-child {
			margin-right: 30px;
		}
		&:hover {
			color: @red_hover;
		}
	}
}
.npmns-likes {
	background: url('../img/icon-likes-count-big.png') no-repeat center top;
	&:hover {
		background-image: url('../img/icon-likes-count-big-red.png');
	}
}
.npmns-dislikes {
	background: url('../img/icon-dislikes-count-big.png') no-repeat center top 5px;
	&:hover {
		background-image: url('../img/icon-dislikes-count-big-red.png');
	}
}
.npmns-comments {
	background: url('../img/icon-comments-count-big.png') no-repeat center top;
	&:hover {
		background-image: url('../img/icon-comments-count-big-red.png');
	}
}
.npmns-places {
	background: url('../img/icon-place.png') no-repeat center top;
	&:hover {
		background-image: url('../img/icon-place-red.png');
	}
}
.nptc-search-block {
	.mptc-search-block;
	margin-top: 20px;
	background-color: @gray_border;
	font-size: 0;
}
.nptcsb-keyword {
	.mptcsb-keyword;
	width: 59.5%;
	margin-right: 3.5%;
	font-size: 12px;
	input {
		background-color: inherit;
	}
	@media @max_desktop {
		width: 70%;
	}
	@media @mobile {
		width: 96%;
	}
}
.nptcsb-right {
	.mptcsb-right;
	width: 37%;
	font-size: 12px;
	@media @max_desktop {
		width: 100%;
		margin-top: 15px;
		.db;
	}
}
.nptcsb-show-in {
	.mptcsb-show-in;
	width: 76%;
	margin-right: 3%;
	font-size: 11px;
	span {
		padding-right: 3px;
		color: #676767;
	}
	.select-emul {
		width: 38%;
		input {
			width: 100%;
			box-sizing: border-box;
			background-color: inherit;
			.placeholder({
				font-size: 10px;
			});
		}
		@media @max_desktop {
			width: 20%;
		}
		@media @mpt_mobile {
			width: 25%;
		}
		@media @menu_mobile {
			width: 30%;
		}
		@media @mobile {
			width: 32%;
		}
	}
	@media @sofb_tablet {
		width: 100%;
		.db;
	}
}
.nptcsb-submit {
	.mptcsb-submit;
	@media @max_desktop {
		margin-top: 15px;
		.db;
		input {
			padding: 5px 20px 2px;
		}
	}
}
.np-text-content {
	font-size: 0px;
	article {
		.article-in-list;
		.dib;
		.vt;
		.bg-white;
		.block-shadow;
		/*width: 32%;*/
		width: 300px;
		@media @mobile {
			/*width: 100%;*/
			width: 320px;
		}
	}
	> section, > a {
		.dib;
		.vt;
		.block-shadow;
		/*width: 32%;*/
		width: 300px;
		box-sizing: border-box;
		@media @mobile {
			/*width: 100%;*/
			width: 320px;
		}
	}
	> * {
		margin-right: 2%;
		margin-top: 20px;
		&:nth-child(2) {
			margin-right: 0;
		}
		&:nth-child(3n+5) {
			margin-right: 0;
		}
		@media @max_desktop {
			&:nth-child(2) {
				margin-right: 2%;
			}
			&:nth-child(3n+5) {
				margin-right: 2%;
			}
		}
	}
}
.nptc-secondary-news {
	/*width: 66% !important;*/
	width: 620px !important;
	@media @tablet {
		width: 300px !important;
	}
	@media @mobile {
		/*width: 100% !important;*/
		width: 320px !important;
	}
}
.nptcn-tags {
	.mptcn-tags;
}
.nptcn-meta {
	.mptcn-meta;
}
.nptcnm-comments-count {
	padding-top: 2px;
	padding-bottom: 4px;
	background: url('../img/icon-comments-count-gray.png') no-repeat left center;
}
.nptcnm-likes-count {
	padding-top: 2px;
	background: url('../img/icon-likes-count-gray.png') no-repeat left top;
}
.nptcnm-dislikes-count {
	padding-bottom: 9px;
	background: url('../img/icon-dislikes-count-gray.png') no-repeat left center;
}
.np-test-banner {
	padding: 40px 20px;
	background-color: @green_test;
	font-size: 0;
	.dib;
	.vt;
	.tac;
	text-decoration: none;
	.nptb-img {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	.nptb-hint {
		margin-top: 20px;
		font-size: 18px;
		.fb;
		.c-white;
	}
	&:not(:first-child) {
		margin-top: 20px;
	}
}
.np-sponsor-banner {
	img {
		.responsive-img;
	}
}

/**********************************************************************/
/*******************************post-page******************************/
/**********************************************************************/
.pp-content {
	padding: 0;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
	.bg-white;
	.c-black;
	&.margin-fix {
		margin-top: 110px;
	}
	&.margin-fixed {
		margin-top: 66px;
	}
	hr {
		width: 30%;
		height: 1px;
		margin-top: 30px;
		border: none;
		background-color: black;
		color: black;
	}
}
.ppc-breadcrumbs {
	padding: 10px 15px 0px 15px;
	font-size: 11px;
	.fl;
	a {
		font-size: 11px;
		.fl;
		.c-black;
	}
	span {
		padding: 0px 5px;
		&:last-child {
			padding: 0px;
			font-style: italic;
			color: #868686;
		}
		@media @tablet {
			padding-right: 0;
			&:after {
				content: '';
				.db;
			}
		}
	}
}
.ppc-title {
	.npmn-tizer;
	h2 {
		margin-top: 45px;
	}
}
.ppc-soc {
	.npmn-soc;
}
.ppcs-likes {
	background: url('../img/icon-likes-count-big-black.png') no-repeat center top;
}
.ppcs-comments {
	background: url('../img/icon-comments-count-big-black.png') no-repeat center top;
}
.ppc-image {
	margin-top: 60px;
	img {
		.responsive-img;
	}
}
.ppc-text {
	padding: 0px 240px 10px 60px;
	@media @tablet {
		padding: 0 60px 10px 60px;
	}
}
.ppct-main {
	margin-top: 50px;
	font-size: 18px;
	.fb;
	p:first-child {
		margin-top: 0;
		padding-top: 0;
	}
}
.ppct-regular {
	font-size: 16px;
}
.ppctr-img-with-hint {
	margin: 30px 0px 50px;
	font-size: 0;
	img {
		.responsive-img;
	}
	span {
		position: absolute;
		z-index: 99;
		padding: 15px 20px;
		background-color: rgba(0, 0, 0, 0.6);
		font-size: 14px;
		font-style: italic;
		.db;
		.fl;
		.c-white;
		@media @max_desktop {
			position: static;
			width: auto !important;
			margin-top: 0px !important;
			background-color: transparent;
			.c-black;
		}
	}
	@media @max_desktop {
		margin-bottom: 20px;
	}
}
.ppctm-tags {
	width: 50%;
	.mptcn-tags;
	.dib;
	a {
		&:not(:last-child) {
			margin-right: 5px;
		}
	}
	@media @mobile {
		width: auto;
	}
}
.ppctm-source {
	.fr;
	@media @mobile {
		margin-top: 20px;
		.fn;
	}
}
.ppctm-counts {
	.mptcn-meta;
	margin-top: 15px;
	padding-bottom: 0;
	.fn;
	.cl;
}
.ppctmc-comments {
	padding-top: 2px;
	padding-bottom: 4px;
	background: url('../img/icon-comments-count-gray.png') no-repeat left center;
}
.ppctmc-likes {
	padding-top: 2px;
	background: url('../img/icon-likes-count-gray.png') no-repeat left top;
}
.ppctmc-dislikes {
	padding-bottom: 9px;
	background: url('../img/icon-dislikes-count-gray.png') no-repeat left center;
}

/**********************************************************************/
/*****************************catalog-page*****************************/
/**********************************************************************/
.catalog-page {
	margin-top: 40px;
	font-size: 0;
}
.cp-col-left {
	.mptc-col-left;
	width: 300px;
	margin-right: 0;
	font-size: 12px;
	@media @tablet {
		width: 300px;
	}
	@media @mobile {
		width: 320px;
	}
}
.cp-col-right {
	.mptc-col-right;
	position: fixed;
	iframe {
		width: 100%;
	}
	@media @mobile {
		.dn;
	}
}
.cp-objects {
	header {
		padding: 95px 20px 20px;
		border-bottom: 1px solid #e3e3e3;
		.bg-white;
		&>span {
			font-size: 16px;
			color: @red_hover;
			.fb;
		}
		div {
			margin-bottom: 10px;
			font-size: 16px;
			.fb;
		}
		a {
			padding-left: 15px;
			text-decoration: none;
			background: url('../img/icon-plus-green.png') no-repeat left center;
			.fl;
			color: #14622a;
			span {
				text-decoration: underline;
			}
		}
	}
	footer {
		.mptc-col-footer;
	}
}
.cp-objects-list {
	.mptco-list;
}
.cpol-object {
	.mptco-object;
	&:hover {
		background-color: @gray_border;
	}
}
.cpolo-photo {
	.mptcoo-photo
}
.cpolo-rating {
	.mptcoo-rating
}
.cpolor-value {
	.mptcoor-value
}
.cpolor-hint {
	.mptcoor-hint
}
.cpolo-info {
	.mptcoo-info
}
.cpolo-name {
	.mptcoo-name
}
.cpolo-type {
	.mptcoo-type
}
.cpolo-contacts {
	.mptcoo-contacts
}
.cpolo-actions {
	.mptcoo-actions
}
.cp-test {
	padding: 15px 80px 15px 20px;
	background: url('../img/icon-test-children.png') no-repeat right 20px bottom @green_test;
	background-size: 15%;
	text-decoration: none;
	font-size: 14px;
	.db;
	.fb;
	.fi;
	.c-white;
}

/**********************************************************************/
/*****************************account-page*****************************/
/**********************************************************************/
.ap-user-block-bg {
	background-image: url('../img/tmp-bg-cabinet.jpg');
	.black-top-block-bg;
}
.ap-user-block {
	.np-main-news;
}
.apub-change-photo {
	margin-top: 10px;
	margin-left: 5px;
	.dib;
}
.apub-avatar {
	margin-top: 10px;
	.tac;
	img {
		border: 2px solid white;
		border-radius: 50%;
		.vt;
	}
	a {
		position: relative;
		right: 60px;
		top: 0px;
		z-index: 99;
		width: 18px;
		height: 18px;
		box-sizing: border-box;
		background-color: @green;
		border-radius: 50%;
		text-decoration: none;
		line-height: 95%;
		font-size: 18px;
		.dib;
		.vt;
		.tac;
		.c-white;
	}
}
.apub-name {
	margin-top: 5px;
	font-size: 31px;
	.tac;
	p {
		margin-top: 20px;
		padding-top: 0;
		font-size: 16px;
		.fl;
	}
	@media @tablet {
		font-size: 24px;
		p {
			font-size: 14px;
		}
	}
}
.apubn-first {
	.fb;
}
.apub-soc {
	.npmn-soc;
	div:not(:last-child) {
		margin-right: 30px;
	}
}
.apubs-likes {
	.npmns-likes;
}
.apubs-comments {
	.npmns-comments;
}
.apubs-places {
	.npmns-places;
}
.ap-text-content {
	margin-top: 50px;
	font-size: 0;
}
.aptc-tabs {
	.dn;
	font-size: 12px;
	@media @tabs_mobile {
		.db;
		a {
			padding: 10px 15px;
			text-decoration: none;
			outline: none;
			.dib;
			.vt;
			.fb;
			.c-black;
			&.js-tab-active {
				cursor: default;
				.bg-white;
			}
		}
	}
}
.aptc-left-col {
	width: 66%;
	margin-right: 2%;
	font-size: 0;
	.dib;
	.vt;
	@media @tabs_mobile {
		width: 100%;
	}
}
.aptc-right-col {
	width: 32%;
	font-size: 12px;
	.dib;
	.vt;
	@media @tabs_mobile {
		width: 100%;
		.dn;
	}
}
.aptc-recommendations-title {
	padding: 20px 20px 0px;
	font-size: 30px;
	.bg-white;
	.fb;
	&+.aptc-recommendations-block {
		margin-top: 0 !important;
	}
	@media @tablet {
		.dn;
	}
}
.aptc-recommendations-block {
	margin-top: 20px;
	padding-top: 25px;
	font-size: 12px;
	.bg-white;
}
.aptcrb-title {
	padding: 0px 20px 20px;
	font-size: 20px;
	.dib;
	.fsb;
}
.aptcrb-link {
	margin-right: 20px;
	margin-top: 5px;
	text-decoration: underline;
	.fr;
	.fl;
}
.aptcrb-object {
	padding: 20px;
	border-top: 1px solid @gray_border;
}
.aptcrbo-thumb {
	margin-right: 10px;
	.dib;
	.vt;
}
.aptcrbo-info {
	.dib;
	.vt;
}
.aptcrboi-name {
	.mptcoo-name;
	font-size: 17px;
}
.aptcrboi-type {
	.mptcoo-type;
}
.aptcrboi-contacts {
	.mptcoo-contacts;
}
.aptcrbo-quality {
	margin-right: 60px;
	.fr;
	@media @menu_mobile {
		margin-right: 0;
		margin-top: 5px;
		.fn;
	}
}
.aptcrboqr-value {
	.mptcoor-value;
}
.aptcrboqr-hint {
	.mptcoor-hint;
}
.aptcrboq-stars {
	margin-top: 15px;
	div {
		margin-bottom: -5px;
	}
	img {
		cursor: pointer;
	}
	span {
		opacity: 0.6;
		text-decoration: none;
		font-size: 9px;
		.c-black;
		&:hover {
			text-decoration: underline;
		}
	}
}
.aptc-about {
	.bg-white;
}
.aptca-title {
	padding: 20px;
	font-size: 30px;
	.fb;
}
.aptca-sub-title {
	margin-top: 10px;
	padding-left: 20px;
	font-size: 16px;
	.fsb;
	color: @dark_gray;
}
.aptca-links {
	margin-top: 20px;
	padding: 15px 20px 20px;
	border-top: 1px solid @gray_border;
}
.aptca-links {
	.mptcn-tags;
	a {
		margin-top: 5px;
		.dib;
	}
}
.aptc-contacts {
	margin-top: 20px;
	padding-bottom: 25px;
	.bg-white;
}
.aptcc-title {
	padding: 20px;
	border-bottom: 1px solid @gray_border;
	font-size: 16px;
	color: @dark_gray;
	.fb;
}
.aptcc-contact {
	margin-top: 15px;
	padding-left: 20px;
	img {
		margin-right: 10px;
		.vm;
	}
	span {
		font-size: 13px;
		.vm;
	}
	a {
		font-size: 13px;
		color: #14622a;
	}
}
.aptc-subscriptions {
	.aptc-contacts;
}
.aptcs-title {
	.aptcc-title;
}
.aptcs-subscription {
	margin-top: 15px;
	padding-left: 20px;
	img {
		margin-right: 10px;
		.vm;
	}
}
.aptcss-name {
	.dib;
	.vm;
	a {
		font-size: 13px;
		.fb;
		.c-black;
	}
	span {
		font-size: 10px;
		.db;
		.fl;
	}
}
.aptcs-all-link {
	margin-top: 20px;
	padding-left: 20px;
	a {
		font-size: 13px;
		color: #14622a;
		.fsb;
	}
}

/**********************************************************************/
/******************************object-page*****************************/
/**********************************************************************/
/***top-block***/
.op-main-info-bg {
	.black-top-block-bg;
	background-image: url('../img/tmp-bg-object.jpg');
}
.op-main-info {
	padding: 65px 0 40px;
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
	.tac;
	hr {
		width: 27%;
		height: 2px;
		margin-top: 10px;
		border: none;
		color: white;
		.bg-white;
	}
}
.opmi-name {
	h1 {
		display: inline;
		margin: 0;
		padding: 0;
		font-size: 34px;
	}
	.fb;
	.c-white;
}
.opmi-rating {
	.mptcoor-value;
	position: absolute;
	margin-top: -17px;
	margin-left: 5px;
	font-size: 13px;
}
.opmi-type {
	font-size: 16px;
	.fl;
	.c-white;
}
.opmi-soc {
	.apub-soc;
	div {
		.c-white;
	}
}
.opmis-likes {
	.npmns-likes;
}
.opmis-dislikes {
	.npmns-dislikes;
}
.opmis-comments {
	.npmns-comments;
}
/***text-content***/
.op-text-content {
	margin-top: 20px;
	font-size: 0;
}
.optc-left-col {
	width: 66%;
	margin-right: 2%;
	font-size: 12px;
	.dib;
	.vt;
	@media @tablet {
		width: 100%;
		.db;
	}
}
.optc-right-col {
	width: 32%;
	font-size: 12px;
	.dib;
	.vt;
	@media @tablet {
		width: 100%;
		margin-top: 20px;
		.db;
	}
}
.optclc-tabs {
	padding: 5px 0px;
	background-color: #5c5c5c;
	font-size: 0;
	a {
		padding: 5px 20px;
		text-decoration: none;
		font-size: 14px;
		outline: none;
		.c-white;
		&.js-tab-active {
			padding: 5px 40px;
			.bg-white;
			.c-black;
			@media @menu_mobile {
				padding: 5px 20px;
			}
		}
		@media @menu_mobile {
			font-size: 12px;
		}
	}
}
.optclc-tabs-content {
	.bg-white;
	&>div:not(:first-child) {
		.dn;
	}
	h2 {
		font-size: 24px;
		.fb;
		&:first-child {
			margin-top: 0;
		}
	}
	p {
		font-size: 16px;
	}
	.js-read-more {
		text-decoration: none;
		span {
			.fi;
			.c-black;
		}
		img {
			width: 10px;
			height: auto;
			margin-left: 5px;
			transform: rotateZ(180deg);
		}
		&:hover {
			span {
				text-decoration: underline;
			}
		}
		&.jsrm-active {
			img {
				transform: rotateZ(0deg);
			}
		}
	}
	#tab-01, #tab-02, #tab-04 {
		padding: 20px;
	}
	#tab-03 {
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			.responsive-img;
		}
		.optclctctc-photo-info {
			padding-left: 20px;
			padding-bottom: 15px;
		}
		time {
			opacity: 0.7;
			font-size: 10px;
			.fb;
		}
		.optclctctcpi-tags {
			margin-top: 25px;
			.mptcn-tags;
		}
		.optclctctcpi-meta {
			.mptcn-meta;
			padding-bottom: 0;
		}
	}
}
.optclctc-hided {
	.dn;
}
.optc-most-loved {
	margin-top: 20px;
	padding: 20px;
	.bg-white;
}
.optcml-title {
	font-size: 16px;
	color: @dark_gray;
	.fb;
}
.optcml-objects {
	float: left;
	width: 50%;
	margin-top: 5px;
	@media @mpt_tablet {
		width: 300px;
		.fn;
	}
	@media @tablet {
		float: left;
	}
	@media only screen and (max-width: 570px) {
		.fn;
	}
}
.optcmlo-object {
	float: left;
	width: 140px;
}
.optcmloo-rating {
	margin-top: 10px;
	padding: 2px 5px;
	font-size: 10px;
	.dib;
	.c-white;
	&.rating-best {
		background-color: #1d9950;
	}
	&.rating-good {
		background-color: #209161;
	}
	&.rating-better {
		background-color: #238876;
	}
	&.rating-bad {
		background-color: #267d8e;
	}
	&.rating-worst {
		background-color: #2975a0;
	}
}
.optcmloo-name {
	font-size: 13px;
	.dib;
	.fl;
	a {
		.c-black;
	}
}
.optcmlo-object-new {
	margin-top: 10px;
	.optcmlono-plus {
		padding: 2px 8px;
		background-color: #2e3cc4;
		font-size: 16px;
		.dib;
		.fb;
		.c-white;
	}
	.optcmlono-name {
		.dib;
		a {
			border-bottom: 1px dotted black;
			text-decoration: none;
			.fb;
			.c-black;
		}
	}
}
.optcml-diagram {
	margin-top: 15px;
	margin-right: 80px;
	.fr;
	@media @mpt_tablet {
		margin-top: 20px;
		margin-right: 0;
		.fn;
	}
	@media @tablet {
		margin-top: 15px;
		margin-right: 80px;
		.fr;
	}
	@media only screen and (max-width: 570px) {
		margin-top: 20px;
		margin-right: 0;
		.fn;
	}
}
.optc-activities-types {
	margin-top: 20px;
}
.optc-activity-type {
	.bg-white;
	@media @op_mobile {
		&:not(:first-child) {
			margin-top: 20px;
		}
	}
}
.optcat-left {
	.dib;
	.vt;
}
.optcat-title {
	margin: 25px 10px 0px 20px;
	font-size: 24px;
	.dib;
	.fb;
}
.optcat-rating {
	.mptcoor-value;
	.dib;
	margin-top: -10px;
}
.optcat-age {
	margin-left: 20px;
	font-size: 10px;
	color: #373737;
	.fl;
}
.optcat-tabs {
	margin-top: 30px;
	margin-bottom: -2px;
	a {
		padding: 5px 20px 9px;
		border: 1px solid transparent;
		outline: none;
		text-decoration: none;
		font-size: 10px;
		.dib;
		.vt;
		.fl;
		.c-black;
		img {
			width: 8px;
			height: auto;
			margin-left: 3px;
			transform: rotateZ(180deg);
		}
		&.optcatt-active {
			background-color: #f5f5f5;
			border: 1px solid @gray_border;
			border-bottom: none;
			img {
				transform: rotateZ(0deg);
			}
		}
	}
	@media @mpc_mobile {
		margin-top: 10px;
	}
}
.optcat-right {
	margin-top: 30px;
	margin-right: 30px;
	.fr;
	@media @mpc_mobile {
		margin-top: 15px;
		margin-right: 0;
		margin-left: 20px;
		.fn;
	}
}
.optcatr-stars {
	img {
		cursor: pointer;
	}
	span {
		font-size: 9px;
		color: #373737;
	}
}
.optcatr-search {
	width: 100px;
	margin-top: 30px;
	line-height: 90%;
	a {
		font-size: 9px;
		color: #373737;
	}
	@media @op_mobile {
		.dn;
	}
}
.optcat-bottom-search {
	padding: 10px 20px;
	.dn;
	a {
		font-size: 9px;
		color: #373737;
	}
	@media @op_mobile {
		.db;
	}
}
.optcat-tabs-content {
	background-color: #f5f5f5;
	border-top: 1px solid @gray_border;
}
.optcattc-schedule {
	padding: 15px 20px;
	border-bottom: 1px solid @gray_border;
	.dn;
}
.optcattcs-table {
	font-size: 0;
	&:not(:first-child) {
		.optcattcst-title {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid @gray_border;
		}
	}
}
.optcattcst-title {
	padding-bottom: 10px;
	font-size: 14px;
	.tal;
	.fb;
	@media @mpt_tablet {
		padding-bottom: 15px;
	}
	@media @tablet {
		padding-bottom: 10px;
	}
}
.optcattcstb-cell {
	width: 25%;
	font-size: 12px;
	.dib;
	.vt;
	@media @mpt_tablet {
		width: 100%;
		.db;
		&:not(:first-child) {
			margin-top: 15px;
		}
	}
	@media @tablet {
		width: 25%;
		margin-top: 0;
		.dib;
	}
	@media @op_mobile {
		width: 100%;
		.db;
		&:not(:first-child) {
			margin-top: 15px;
		}
	}
}
.optcattcstbc-td {
	padding-top: 7px;
	color: #5e5e5e;
	div:not(:first-child) {
		margin-top: 10px;
	}
	a {
		color: #5e5e5e;
	}
}
.optcattc-trainers {
	padding: 0px 20px 30px;
	border-bottom: 1px solid @gray_border;
	font-size: 0;
	.dn;
}
.optcattct-trainer {
	width: 50%;
	margin-top: 30px;
	.dib;
	.vt;
	img {
		margin-right: 10px;
		border: 2px solid white;
		border-radius: 50%;
		.vt;
	}
	@media @mpt_tablet {
		width: 100%;
		.db;
	}
	@media @tablet {
		width: 50%;
		.dib;
	}
	@media @op_mobile {
		width: 100%;
		.db;
	}
}
.optcattctt-info {
	.dib;
	.vt;
	span {
		font-size: 10px;
		.db;
		.fl;
		&:first-child {
			font-size: 13px;
			.fb;
		}
	}
	@media @mpt_tablet {
		width: 150px;
		.dib;
	}
}
.optc-contacts {
	.bg-white;
}
.optcc-top {
	padding: 20px;
	iframe {
		width: 100%;
	}
}
.optcct-title {
	.aptcc-title;
	margin-top: 20px;
	padding: 0;
	border: none;
}
.optcct-contact {
	.aptcc-contact;
	padding-left: 0;
}
.optcc-bottom {
	padding: 20px;
	border-top: 1px solid @gray_border;
	.tac;
	img {
		margin-right: 10px;
		.vm;
	}
}
.optccb-time {
	.dib;
	.vm;
	span {
		font-size: 11px;
		.db;
		&:first-child {
			font-size: 16px;
			.fb;
		}
	}
}
.optc-objects-near {
	margin-top: 20px;
	.bg-white;
	header {
		padding: 15px 20px;
		border-bottom: 1px solid @gray_border;
		font-size: 16px;
		.fb;
		color: @dark_gray;
	}
	footer {
		.mptc-col-footer;
	}
	@media @tablet {
		.dn;
	}
}
.optconl-object {
	.mptco-object;
}
.optconlo-photo {
	.mptcoo-photo;
}
.optconlo-rating {
	.mptcoo-rating;
}
.optconlor-value {
	.mptcoor-value;
}
.optconlor-hint {
	.mptcoor-hint;
}
.optconlo-info {
	.mptcoo-info;
	@media @sof_tablet {
		margin-top: 20px;
		.db;
	}
}
.optconlo-name {
	.mptcoo-name;
}
.optconlo-type {
	.mptcoo-type;
}
.optconlo-contacts {
	.mptcoo-contacts;
}
.optconlo-actions {
	.mptcoo-actions;
}

/**********************************************************************/
/*********************************popup********************************/
/**********************************************************************/
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: rgba(14, 7, 6, 0.75);
	.dn;
}
.popup {
	position: relative;
	z-index: 99999;
	top: 5%;
	width: 880px;
	background-color: @gray_border;
	.dib;
	.mc;
}
.popup-close {
	cursor: pointer;
}
.ap-popup-tabs {
	background-color: #5c5c5c;
	a {
		padding: 5px 35px;
		outline: none;
		text-decoration: none;
		.dib;
		.vm;
		.c-white;
		&.js-tab-active {
			padding: 5px 25px;
			background-color: @gray_border;
			color: #5c5c5c;
		}
	}
	img {
		margin-top: 9px;
		margin-right: 10px;
		.fr;
	}
}
.aptc-personal-data {
	padding: 30px 60px;
}
.aptcpdui-avatar {
	.apub-avatar;
	.dib;
	.vt;
	.tal;
	margin-top: 0;
	a {
		right: 70px;
		width: 20px;
		height: 20px;
		line-height: 85%;
		font-size: 24px;
		.fb;
	}
}
.aptcpdui-name {
	.dib;
	.vt;
	div {
		font-size: 24px;
	}
	p {
		margin: 0;
		padding: 0;
		color: #7a7a7a;
		.fl;
	}
}
.aptcpduin-first {
	line-height: 100%;
	.fb;
}
.aptcpd-user-info {
	form {
		margin-top: 5px;
		font-size: 0;
	}
	input:not(.button) {
		width: 240px;
		height: 30px;
		margin-top: 5px;
		padding: 5px 10px;
		box-sizing: border-box;
		border: none;
		font-size: 13px;
		.bg-white;
		.fl;
		.placeholder({
			font-size: 13px;
			color: #949494;
			.fl;
			.fi;
		});
	}
	textarea {
		width: 100%;
		height: 90px;
		margin-top: 5px;
		padding: 5px 10px;
		box-sizing: border-box;
		border: none;
		font-size: 13px;
		.bg-white;
		.fl;
		.placeholder({
			font-size: 13px;
			color: #949494;
			.fl;
			.fi;
		});
	}
	hr {
		height: 1px;
		margin-top: 20px;
		border: none;
		background-color: #cecece;
		color: #cecece;
	}
	.button {
		margin-top: 20px;
		padding: 10px 20px;
		font-size: 11px;
		.fb;
	}
}
.aptcpduif-cell {
	margin-top: 20px;
	.dib;
	.vt;
	&:not(:nth-child(3n+3)) {
		margin-right: 20px;
	}
	&.aptcpduif-cell-nm {
		margin-right: 0 !important;
	}
	&.aptcpduif-cell-m {
		margin-right: 20px !important;
	}
	.select-emul {
		input {
			.bg-white;
		}
		&.se-active {
			input {
				.bg-white !important;
			}
		}
	}
}
.aptcpduifc-double {
	width: 500px !important;
}
.aptcpduifc-half {
	width: 110px !important;
}
.aptcpduifc-wild {
	width: 100%;
	.db;
}
.aptcpduifc-hint {
	span {
		letter-spacing: -0.5px;
		font-size: 11px;
		color: #7a7a7a;
		.fl;
	}
	.checkbox-emul {
		.fr;
	}
}
.aptcpduifc-bd {
	margin-right: 10px;
	input {
		width: 55px !important;
	}
}
.aptcpduifc-bm {
	margin-right: 10px;
	input {
		width: 100px !important;
	}
}
.aptcpduifc-by {
	input {
		width: 65px !important;
	}
}
.aptc-soc {
	padding: 50px 60px 60px;
	.dn;
}
.aptcs-big-title {
	width: 600px;
	font-size: 24px;
	.fb;
}
.aptcs-links {
	margin-top: 30px;
	a {
		margin-right: 5px;
		.dib;
		.vt;
	}
}
.aptcs-sub-title {
	width: 400px;
	margin-top: 60px;
	font-size: 16px;
	.fb;
}
.aptcs-linked {
	margin-top: 50px;
}
.aptcsl-item {
	img {
		margin-right: 10px;
		.vt;
	}
}
.aptcsli-info {
	margin-top: -3px;
	.dib;
	.vt;
	span {
		.fb;
	}
	a {
		text-decoration: underline;
		.c-black;
	}
}
.aptc-change-password {
	padding: 50px 60px 40px;
	.dn;
	form {
		margin-top: 5px;
	}
	label {
		font-size: 11px;
		color: #7a7a7a;
		.db;
		.fl;
	}
	input[type="password"] {
		width: 240px;
		height: 30px;
		margin-top: 5px;
		padding: 5px 10px;
		box-sizing: border-box;
		border: none;
		font-size: 13px;
		.bg-white;
		.fl;
	}
	hr {
		height: 1px;
		margin-top: 20px;
		border: none;
		background-color: #cecece;
		color: #cecece;
	}
	.button {
		margin-top: 20px;
		padding: 10px 20px;
		font-size: 11px;
		.fb;
	}
}
.aptccp-title {
	font-size: 24px;
	.fb;
}
.aptccp-cell {
	margin-top: 20px;
}
.aptc-appearance {
	padding: 50px 60px 30px;
	.dn;
	hr {
		height: 1px;
		margin-top: 20px;
		border: none;
		background-color: #cecece;
		color: #cecece;
	}
	.button {
		margin-top: 20px;
		padding: 10px 20px;
		font-size: 11px;
		.fb;
	}
}
.aptca-big-title {
	font-size: 24px;
	.fb;
}
.aptc-appearance-themes {
	margin-top: 15px;
	font-size: 0;
}
.aptc-appearance-theme {
	margin-top: 20px;
	.dib;
	.vt;
	&:not(:nth-child(3n+3)) {
		margin-right: 20px;
	}
	.checkbox-emul {
		margin-top: 5px;
		.db;
	}
}

.aptc-object-data {
	overflow-y: scroll;
	padding-right: 45px !important;
}
.aptcpduif-sub-title {
	margin-top: 30px;
	font-size: 14px;
	.fb;
}
.aptcpduif-add {
	padding: 8px 10px 7px !important;
	background-color: #5c5c5c;
	font-weight: normal !important;
}
.aptcpduif-mt30 {
	margin-top: 30px;
}
.aptc-photo {
	overflow-y: scroll;
	padding: 30px 60px;
	padding-right: 45px !important;
}
.aptcp-fs0 {
	font-size: 0;
}
.aptcp-item {
	width: 240px;
	margin-top: 20px;
	font-size: 12px;
	&:not(:nth-child(3n+3)) {
		margin-right: 20px;
	}
	.dib;
	.vt;
	a {
		text-decoration: none;
		font-size: 11px;
		color: #7a7a7a;
		.fr;
		.fi;
		.fl;
		&:hover span:last-child {
			text-decoration: underline;
		}
	}
	img {
		margin-top: 10px;
	}
	textarea, input {
		width: 240px;
		box-sizing: border-box;
	}
}
.aptcp-item-new {
	a {
		margin-top: 15px;
	}
}
.aptc-video {
	overflow-y: scroll;
	padding: 30px 60px;
	padding-right: 45px !important;
}

@import url('sportomat');
