@import "main";

.sportomat-page-block {
  .page-block;
  @media @desktop {
    max-width: 980px;
    .ph-logo {
      padding-left: 20px;
    }
  }
  @media @mpc_mobile {
    .page-header & .header-menu .hm-search-link,
    .page-header & .header-menu .hm-user-login {
      .dn();
    }
    .page-header.h-top-menu-open & {
      .header-menu .hm-user-login {
        .db();
        position: absolute;
        top: 43px;
        left: 0;
        z-index: 1024;
        padding: 11px 0 0 10px;
        height: 29px;
        width: 100%;
        border-bottom: 1px solid #cecece;
        &:after {
          content: data-uri('../img/icon-arrow-gray-down.png');
          .db();
          position: absolute;
          top: 11px;
          right: 20px;
        }
        span {
          .dib();
        }
        &.hm-mi-active {
          border-bottom: 0;
          &:after {
            content: data-uri('../img/icon-arrow-gray-up.png');
          }
        }
      }
      nav {
        padding-top: 41px;
      }
      .h-user-menu {
        margin-top: 40px;
        border-bottom: 1px solid #cecece;
      }
    }
  }
  .note {
    margin: 20px 30px 40px;
    color: @dark_gray;
    font-size: 10px;
    line-height: 13px;
    .star {
      margin-left: -10px;
    }
  }
  .articles {
    margin: 0 20px;
    @media @menu_mobile {
      margin: 0;
    }
    @media @desktop {
      &:after {
        content: '';
        .db();
        .cl;
      }
    }
    &-column {
      margin: 0 0 20px;
      @media only screen and (min-width: 901px) {
        width: 32%;
        float: left;
        & + .articles-column {
          margin-left: 2%;
        }
      }
      .bg-white();
      .block-shadow();
      &-header {
        height: 140px;
        padding: 74px 0 0 86px;
        background: white left top no-repeat;
        &.n3 { background-image: data-uri('../img/icon-header-number-3.png'); }
        &.n4 { background-image: data-uri('../img/icon-header-number-4.png'); }
        &.n7 { background-image: data-uri('../img/icon-header-number-7.png'); }
        h3 {
          font-size: 20px;
          margin: 0 0 4px;
          .c-black();
          text-transform: uppercase;
          line-height: 25px;
        }
        a {
          font-size: 12px;
          .fi();
          .c-black();
          &:hover {
            text-decoration: none;
          }
          position: relative;
          &:after {
            content: data-uri('../img/icon-arrow-green-right.png');
            .db();
            position: absolute;
            right: -23px;
            top: 1px;
          }
        }
        .label {
          padding: 0 8px;
          line-height: 20px;
          .dib();
          .fi();
          .c-white();
          background: @red_hover;
          font-size: 12px;
        }
      }
      article {
        border-top: 1px solid @gray_border;
        padding: 36px 20px 20px;
        .date {
          .fb();
          font-size: 10px;
          color: #828282;
          margin: 0 0 8px;
        }
        h4 {
          font-size: 18px;
          color: #3e3e3e;
          line-height: 24px;
          .fb();
          margin: 0 0 7px;
          a {
            .c-black();
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .text {
          font-size: 16px;
          color: #3e3e3e;
          line-height: 24px;
        }
        footer {
          padding: 39px 0 0;
        }
        &:hover {
          background-color: @gray_border;
        }
      }
      .cpol-object {
        border-bottom: 0!important;
        border-top: 1px solid @gray_border;
      }
      .button {
        .db();
      }
    }
  }
}

.sportomat-page {
  padding: 20px 0;
  @media @menu_mobile {
    padding: 0;
  }
}
.sportomat-test-block {
  border: 10px solid @green;
  padding: 64px 50px 50px;
  .sportomat-index & {
    padding: 0 0 60px;
  }
  @media @tablet {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media @menu_mobile {
    padding-left: 24px;
    padding-right: 24px;
  }
  .block-shadow();
  .bg-white();
  margin: 0 20px;
  @media @menu_mobile {
    margin: 0;
  }
  &-header {
    .step-line {
      margin-bottom: 72px !important;
      margin-top: 0 !important;
    }
    .tac();
    color: @green;
    &-line {
      height: 21px;
      margin: 0 0 40px;
      background: data-uri('../img/data/header-line.png') bottom repeat-x;
      .sportomat-index & {
        margin-bottom: 17px;
        @media (min-width: 940px) {
          background: data-uri('../img/data/header-line-index.png') bottom repeat-x;
        }
        @media @max_desktop {
          margin-bottom: 13px;
        }
      }
    }
    &-bubble {
      .mc();
      width: 82px;
      height: 35px;
      background: white data-uri('../img/data/q-bubble.png') center no-repeat;
      &.result {
        background: white;
        font-size: 24px;
        font-family: 'Lobster', cursive;
        width: 182px;
      }
    }
    &-title {
      .bg-white();
      .mc();
      .dib();
      font-family: 'Lobster', cursive;
      font-size: 48px;
      line-height: 48px;
      position: relative;
      padding: 0 10px;
      top: -18px;
      @media @max_desktop {
        font-size: 31px;
        top: -13px;
      }
    }
    .hgroup {
      margin: 0 0 47px;
    }
    h1 {
      margin: 0 0 8px;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 35px;
      @media @tablet {
        font-size: 30px;
      }
      @media @menu_mobile {
        font-size: 23px;
      }
    }
    h2 {
      margin: 0;
      &>* {
        color: @green;
      }
      a:hover {
        text-decoration: none;
      }
      text-transform: uppercase;
      font-weight: 400;
      font-size: 24px;
      @media @tablet {
        font-size: 20px;
      }
      @media @menu_mobile {
        font-size: 20px;
      }
    }
  }
  .step-line {
    .tac();
    background: @green;
    height: 4px;
    box-shadow: fade(@green, 50%) 0 1px 0;
    position: relative;
    margin: 62px 0 44px 0;
    &-label {
      .db();
      .bg-white();
      .mc();
      width: 190px;
      color: @green;
      font-size: 24px;
      font-family: 'Lobster', cursive;
      line-height: 24px;
      position: relative;
      top: -12px;
    }
  }
  &-footer {
    .button {
      &.back {
        float: left;
      }
      &.forward {
        float: right;
      }
    }
    &:after {
      content: '';
      .db();
      .cl;
    }
  }
}

.q-block {
  &-list,
  &-item {
    &, & ul, & li {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
  }
  &-list {
    &.large {
      .radio-emul,
      .checkbox-emul {
        min-height: 20px;
        padding-left: 35px;
        @media @tablet { padding-left: 30px; }
        @media @tablet { padding-left: 36px; }
        margin: 12px 0 40px;
        font-style: normal;
        h4 {
          margin: 0 0 4px;
          line-height: 21px;
        }
        .description {
          font-size: 14px;
        }
      }
      .radio-emul {
        background: data-uri('../img/icon-radio-large.png') no-repeat left 1px;
        &.checked {
          background-image: data-uri('../img/icon-radio-checked-large.png');
        }
      }
      .checkbox-emul {
        margin-top: 8px;
        padding-top: 4px;
        background: data-uri('../img/icon-checkbox-large.png') no-repeat left 5px;
        &.checked {
          background: data-uri('../img/icon-checkbox-checked-large.png') no-repeat left top;
        }
      }
    }
    &.result {
      h4 {
        margin-top: 0;
        @media @tablet {
          margin-top: 10px;
        }
      }
      p {
        color: #7a7a7a;
        font-size: 14px;
        margin-bottom: 28px;
      }
    }
  }
  &-item {
    li& {
      @media @desktop {
        width: 50%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        padding-right: 10px!important;
        & + & {
          padding-right: 0!important;
          padding-left: 10px;
        }
      }
    }
    &-image {
      .responsive-img();
    }
    &-variants {
      margin-bottom: 38px!important;
      &-header {
        font-size: 17px;
        font-weight: 600;
        color: #7a7a7a;
        margin: 13px 0 6px;
      }
      li {
        margin-bottom: 7px;
      }
      .radio-emul,
      .checkbox-emul {
        font-size: 14px;
        font-style: normal;
        padding-left: 22px;
      }

    }
    div& &-variants {
      @media only screen and (min-width: 450px) {
        float: left;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
      }
    }
  }
  &-separator {
    .cl;
  }
}

.sportomat-index-image {
  .responsive-img();
  margin-bottom: 30px;
}

.test-variant-columns {
  list-style: none;
  padding: 0 11% 0 10.6%;
  margin: 0;
  color: #525252;
  & > li {
    float: left;
    width: 43%;
    & + li {
      float: right;
    }
    @media @mpt_mobile {
      float: none;
      width: auto;
      margin-bottom: 36px;
      .button {
        .db();
      }
    }
    font-size: 13px;
    line-height: 18px;
    h3 {
      font-size: 21px;
      line-height: 24px;
      margin: 0 0 8px;
      @media @tablet {
        font-size: 18px;
        line-height: 19px;
      }
    }
    p {
      margin: 0 0 26px;
    }
  }
  &:after {
    content: '';
    .cl;
    .db();
  }
}